<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/static/img/favicon.ico"
    />
  </head>
  <body oncontextmenu="return false">
    <div class="container">
      <h1>Error</h1>
      <p>Please ask the flight director to help you out.</p>
      <p>Error details:</p>
      <p>{{error}}</p>
    </div>
  </body>
</html>
