<html>
<head>
<title>Space Center</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/socket.io.js"></script>
<script src="http://cdn.peerjs.com/0.3/peer.js"></script>
<script src="/static/js/fd.js"></script>
</head>
<body>
<div class="row">
<div class="col-md-2">
	<h5>Mission Data</h5>
	 <textarea id="missiondata" rows="4" cols="20" onchange="emit('update',{'missiondata':document.getElementById('missiondata').value});"></textarea><br />
<h5>Course</h5>
X:<input type="text" id="x" class="formcontrol" onchange="emit('update',{'x':document.getElementById('x').value})" /><br />
Y:<input type="text" id="y" class="formcontrol" onchange="emit('update',{'y':document.getElementById('y').value})" /><br />
Z:<input type="text" id="z" class="formcontrol" onchange="emit('update',{'z':document.getElementById('z').value})" /><br />
<h5>Engines</h5>
Warp:<input type="text" id="warp" class="formcontrol" onchange="emit('update',{'warp':document.getElementById('warp').value})" /><br />
Impulse:<input type="text" id="impulse" class="formcontrol" onchange="emit('update',{'impulse':document.getElementById('impulse').value})" /><br />
<h5>Thrusters</h5>
<div class="row">
<div id="upthruster" class="col-xs-4">Up</div>
<div id="forwardthruster" class="col-xs-4">Forward</div>
<div class="col-xs-4"></div>
</div>
<div class="row">
<div id="leftthruster" class="col-xs-4">Left</div>
<div class="col-xs-4"></div>
<div id="rightthruster" class="col-xs-4">Right</div>
</div>
<div class="row">
<div id="downthruster" class="col-xs-4">Down</div>
<div id="backwardthruster" class="col-xs-4">Backward</div>
<div class="col-xs-4"></div>
</div>
<h5>ETA</h5>
<div id="etatext"></div>
<input type="text" id="eta" class="formcontrol" onchange="emit('update',{'eta':parseInt(document.getElementById('eta').value)})" />
<h5>Maps</h5>
<div id="maplist" style="overflow-y:auto;max-height:150px;"></div>
Add Place:<br />
<input type="text" id="addmap" class="formcontrol" /><br />
<input type="text" id="mapx" class="formcontrol" style="width:50px" />
<input type="text" id="mapy" class="formcontrol" style="width:50px" />
<input type="text" id="mapz" class="formcontrol" style="width:50px" /><br />
<input type="text" id="mapinfo" class="formcontrol" onkeypress="handleaddmap(event)" />
</div>
<div class="col-md-2">
<h5>Ships on Radar</h5>
<div id="radarlist" style="overflow-y:auto;max-height:150px;"></div>
Add Ship:<br />
<input type="text" id="addship" class="formcontrol" /><br />
<input type="text" id="shipx" class="formcontrol" style="width:50px" />
<input type="text" id="shipy" class="formcontrol" style="width:50px" />
<input type="text" id="shipz" class="formcontrol" style="width:50px" /><br />
<input type="text" id="shipshields" style="width:40px" />
<input type="text" id="shiphull" style="width:40px" />
<input type="text" id="shipengines" style="width:40px" />
<input type="text" id="shipsystems" style="width:40px" /><br />
<input type="text" id="shipinfo" class="formcontrol" onkeypress="handleaddship(event)" />
<h5>Targeting</h5>
<input type="text" id="target" onchange="emit('update',{'target':document.getElementById('target').value})" />
<h5>Shields</h5>
<input type="checkbox" id="shields" onchange="emit('update',{'shields':document.getElementById('shields').checked})" />
<h5>Torpedoes</h5>
<input type="text" id="torpedoes" onchange="emit('update',{'torpedoes':parseInt(document.getElementById('torpedoes').value)})" />
<h5>Security Alerts</h5>
<input type="text" id="securityalert" onchange="emit('update',{'securityalert':document.getElementById('securityalert').value})" />
<h5>Hailing</h5>
<input type="text" id="hailed" onchange="emit('update',{'hailed':document.getElementById('hailed').value})" />
<input type="text" id="hailing" onchange="emit('update',{'hailing':document.getElementById('hailing').value})" />
<h5>Security Teams</h5>
<input type="text" id="team1" onchange="emit('update',{'team1':document.getElementById('team1').value})" /><br />
<input type="text" id="team2" onchange="emit('update',{'team2':document.getElementById('team2').value})" /><br />
<input type="text" id="team3" onchange="emit('update',{'team3':document.getElementById('team3').value})" /><br />
<input type="text" id="team4" onchange="emit('update',{'team4':document.getElementById('team4').value})" /><br />
</div>
<div class="col-md-2">
<h5>Objects</h5>
<div id="objectlist" style="overflow-y:auto;max-height:150px;"></div>
Add Object:<br />
<input type="text" id="addobject" class="formcontrol" /><br />
<input type="checkbox" id="objectlock" class="formcontrol" />
<input type="text" id="objectplace" class="formcontrol" onkeypress="handleaddobject(event)"/><br />
<h5>Alert Status</h5>
<input type="text" id="alert" onchange="emit('update',{'alert':document.getElementById('alert').value})" />
<h5>Probing</h5>
<input type="text" id="probing" onchange="emit('update',{'probing':document.getElementById('probing').value})" />
<input type="text" id="probe" onchange="emit('update',{'probe':document.getElementById('probe').value})" />
<h5>Scanning</h5>
<input type="text" id="scanning" onchange="emit('update',{'scanning':document.getElementById('scanning').value})" />
<input type="text" id="scan" onchange="emit('update',{'scan':document.getElementById('scan').value})" />
<h5>Analysis</h5>
<input type="text" id="analysis" onchange="emit('update',{'analysis':document.getElementById('analysis').value})" />
<h5>Coolant</h5>
<input type="text" id="coolant" onchange="emit('update',{'coolant':parseInt(document.getElementById('coolant').value)})" />
<h5>Max Power</h5>
<input type="text" id="maxpower" onchange="emit('update',{'maxpower':parseInt(document.getElementById('maxpower').value)})" />
<h5>Fixing</h5>
<input type="text" id="zzzzzzfixing" onchange="emit('update',{'zzzzzzfixing':parseInt(document.getElementById('zzzzzzfixing').value)})" />
</div>
<div class="col-md-2">
	<h5>Systems</h5>
<div id="systemlist" style="overflow-y:auto;max-height:150px;"></div>
Add System:<br />
<input type="text" id="addsystem" /><br />
<input type="text" id="systemheat" /><br />
<input type="text" id="systemdamage" /><br />
<input type="text" id="systempower" onkeypress="handleaddsystem(event)"/><br />
<h5>Diagnosing</h5>
<input type="text" id="diagnosing" onchange="emit('update',{'diagnosing':document.getElementById('diagnosing').value})" />
<input type="text" id="diagnostic" onchange="emit('update',{'diagnostic':document.getElementById('diagnostic').value})" />
<h5>Commands</h5>
<input type="text" id="commanding" onchange="emit('update',{'commanding':document.getElementById('commanding').value})" />
<input type="text" id="command" onchange="emit('update',{'command':document.getElementById('command').value})" />
<h5>Music</h5>
<button class="btn btn-xs btn-primary" onclick="emit('update',{'music':''})">Pause</button>
<button class="btn btn-xs btn-primary" onclick="emit('update',{'music':'battle.mp3'})">Battle (Final)</button>
<button class="btn btn-xs btn-primary" onclick="emit('update',{'music':'battle2.mp3'})">Battle (Intense)</button>
<button class="btn btn-xs btn-primary" onclick="emit('update',{'music':'battle3.mp3'})">Battle (Tense)</button>
<button class="btn btn-xs btn-primary" onclick="emit('update',{'music':'intense.mp3'})">Intense (Slow)</button>
<button class="btn btn-xs btn-primary" onclick="emit('update',{'music':'intense2.mp3'})">Intense (Tense)</button>
<button class="btn btn-xs btn-primary" onclick="emit('update',{'music':'intense3.mp3'})">Intense (Intense)</button>
<button class="btn btn-xs btn-primary" onclick="emit('update',{'music':'tense.mp3'})">Tense (Tense)</button>
<button class="btn btn-xs btn-primary" onclick="emit('update',{'music':'tense2.mp3'})">Tense (Intense)</button>
<button class="btn btn-xs btn-primary" onclick="emit('update',{'music':'tense3.mp3'})">Tense (Slow)</button>
<button class="btn btn-xs btn-primary" onclick="emit('update',{'music':'travel.mp3'})">Travel (Tense)</button>
<button class="btn btn-xs btn-primary" onclick="emit('update',{'music':'travel2.mp3'})">Travel (Slow)</button>
<button class="btn btn-xs btn-primary" onclick="emit('update',{'music':'travel3.mp3'})">Travel Fast</button>
<button class="btn btn-xs btn-primary" onclick="emit('update',{'music':'exposition.mp3'})">Exposition</button>
<button class="btn btn-xs btn-primary" onclick="emit('update',{'music':'victory.mp3'})">Victory</button>
<button class="btn btn-xs btn-primary" onclick="emit('update',{'music':'defeat.wav'})">Defeat</button>
<h5>Effects</h5>
<button class="btn btn-xs btn-primary" onclick="emit('broadcast',{'explosion':{'magnitude':50,'factor':100}})">Explo M50,F100</button>
</div>
<div class="col-md-2">
	<video id="commander" height="100" width="200" autoplay=""></video><br />Commander:<button class="btn btn-xs btn-success" onclick="call('commander')">Call</button><button class="btn btn-xs btn-info" onclick="mutecommander()">Mute</button><button class="btn btn-xs btn-info" onclick="unmutecommander()">Unmute</button><br />Main Screen:<button class="btn btn-xs btn-success" onclick="call('mvs')">Call</button><button class="btn btn-xs btn-info" onclick="emit('update',{'muted':true})">Mute</button><button class="btn btn-xs btn-info" onclick="emit('update',{'muted':false})">Unmute</button>
	<h5>Main View Screen</h5>
	<button class="btn btn-xs btn-primary" onclick="emit('update',{'screen':''})">Logo</button>
	<button class="btn btn-xs btn-primary" onclick="emit('update',{'screen':0.1})">Slow Warp</button>
	<button class="btn btn-xs btn-primary" onclick="emit('update',{'screen':0.3})">Normal Warp</button>
	<button class="btn btn-xs btn-primary" onclick="emit('update',{'screen':0.5})">Medium Warp</button>
	<button class="btn btn-xs btn-primary" onclick="emit('update',{'screen':0.9})">Fast Warp</button>
	<button class="btn btn-xs btn-primary" onclick="emit('update',{'screen':1})">Full speed</button>
	<button class="btn btn-xs btn-primary" onclick="emit('update',{'screen':'ship2.jpg'})">Ship</button>
	<button class="btn btn-xs btn-primary" onclick="emit('update',{'screen':'star2.jpg'})">Explo</button>
	<button class="btn btn-xs btn-primary" onclick="emit('update',{'screen':'star3.jpg'})">Nebula</button>
<button class="btn btn-xs btn-primary" onclick="emit('update',{'screen':'text2.jpg'})">UFP</button>
<h5>Sounds</h5>
<button class="btn btn-xs btn-primary" onclick="emit('broadcast',{'sound':'info.wav'});">Info</button>
<button class="btn btn-xs btn-primary" onclick="emit('broadcast',{'sound':'processing.mp3'});">Processing</button>
<button class="btn btn-xs btn-primary" onclick="emit('broadcast',{'sound':'warp.mp3'});">Warp</button>
<button class="btn btn-xs btn-primary" onclick="emit('broadcast',{'sound':'warpout.mp3'});">Warpout</button>
<button class="btn btn-xs btn-primary" onclick="emit('broadcast',{'sound':'transporter.mp3'});">Transporter</button>
<button class="btn btn-xs btn-primary" onclick="emit('broadcast',{'sound':'phaser.mp3'});">Phaser</button>
<button class="btn btn-xs btn-primary" onclick="emit('broadcast',{'sound':'torpedo.mp3'});">Torpedo</button>
<button class="btn btn-xs btn-primary" onclick="emit('broadcast',{'sound':'error.mp3'});">Error</button>
<button class="btn btn-xs btn-primary" onclick="emit('broadcast',{'sound':'explosion.mp3'});">Explosion</button>
</div>
<div class="col-md-2">

</div>
</div>
</body>
</html>
