<html>
<head>
<title>Space Center</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/socket.io.js"></script>
<script src="/static/js/fd.js"></script>
</head>
<body>
<div class="row">
<div class="col-md-2">
	<h5>Mission Data</h5>
	 <textarea id="missiondata" rows="4" cols="30" onchange="emit('update',{'missiondata':document.getElementById('missiondata').value});"></textarea><br />
<h5>Course</h5>
X:<input type="text" id="x" class="formcontrol" onchange="emit('update',{'x':document.getElementById('x').value})" /><br />
Y:<input type="text" id="y" class="formcontrol" onchange="emit('update',{'y':document.getElementById('y').value})" /><br />
Z:<input type="text" id="z" class="formcontrol" onchange="emit('update',{'z':document.getElementById('z').value})" /><br />
</div>
<div class="col-md-2">
</div>
<div class="col-md-2">
	
</div>
<div class="col-md-2">
	
</div>
<div class="col-md-2">
	<video id="theirvideo" height="100" width="200"></video><br /><video id="yourvideo" height="100" width="200"></video>
</div>
<div class="col-md-2">
	
</div>
</div>
</body>
</html>
