<html>
<head>
<title>Space Center</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/socket.io.js"></script>
<script src="/static/js/navigator.js"></script>
<script src="/static/js/station.js"></script>
</head>
<body>
<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active" onclick="showengines();sound('buttonshort.wav');" id="enginestab"><a>Engines</a></li>
  <li role="presentation" onclick="showradar();sound('buttonshort.wav');" id="radartab"><a>Course</a></li>
  <li role="presentation" onclick="showsettings();sound('buttonshort.wav');" id="settingstab"><a>Radar</a></li>
</ul>
<div class="container" id="enginespage" style="display:initial">
<div class="container">
<div class="col-xs-4">
<h4>Warp Engines</h4>
<button class="btn btn-default btn-lg" style="width:100%; box-shadow: 0 0 30px #CCCCCC;" onclick="setwarp(0);sound('button.wav');" id="warp0button">Full Stop</button>
<button class="btn btn-success btn-lg" style="width:100%" onclick="setwarp('1');sound('button.wav');" id="warp1button">Warp 1</button>
<button class="btn btn-success btn-lg" style="width:100%" onclick="setwarp('2');sound('button.wav');" id="warp2button">Warp 2</button>
<button class="btn btn-success btn-lg" style="width:100%" onclick="setwarp('3');sound('button.wav');" id="warp3button">Warp 3</button>
<button class="btn btn-info btn-lg" style="width:100%" onclick="setwarp('4');sound('button.wav');" id="warp4button">Warp 4</button>
<button class="btn btn-info btn-lg" style="width:100%" onclick="setwarp('5');sound('button.wav');" id="warp5button">Warp 5</button>
<button class="btn btn-info btn-lg" style="width:100%" onclick="setwarp('6');sound('button.wav');" id="warp6button">Warp 6</button>
<button class="btn btn-warning btn-lg" style="width:100%" onclick="setwarp('7');sound('button.wav');" id="warp7button">Warp 7</button>
<button class="btn btn-warning btn-lg" style="width:100%" onclick="setwarp('8');sound('button.wav');" id="warp8button">Warp 8</button>
<button class="btn btn-danger btn-lg" style="width:100%" onclick="setwarp('9');sound('button.wav');" id="warp9button">Warp 9</button>
<button class="btn btn-danger btn-lg" style="width:100%" onclick="setwarp('9.9');sound('button.wav');" id="warp99button">Warp 9.9</button>
</div>
<div class="col-xs-8">
<h4>Thrusters</h4>
<div class="row">
<div class="col-xs-4"><button class="btn btn-info btn-lg" style="width:100%" onmousedown="setthruster('up');" onmouseup="releasethruster('up');" onmouseout="releasethruster('up');">Pitch Up</button></div>
<div class="col-xs-4"><button class="btn btn-info btn-lg" style="width:100%" onmousedown="setthruster('forward');" onmouseup="releasethruster('forward');" onmouseout="releasethruster('forward');">Go Forward</button></div>
<div class="col-xs-4"></div>
</div>
<br />
<div class="row">
<div class="col-xs-4"><button class="btn btn-info btn-lg" style="width:100%" onmousedown="setthruster('left');" onmouseup="releasethruster('left');" onmouseout="releasethruster('left');">Turn Left</button></div>
<div class="col-xs-4"></div>
<div class="col-xs-4"><button class="btn btn-info btn-lg" style="width:100%" onmousedown="setthruster('right');" onmouseup="releasethruster('right');" onmouseout="releasethruster('right');">Turn Right</button></div>
</div>
<br />
<div class="row">
<div class="col-xs-4"><button class="btn btn-info btn-lg" style="width:100%" onmousedown="setthruster('down');" onmouseup="releasethruster('down');" onmouseout="releasethruster('down');">Pitch Down</button></div>
<div class="col-xs-4"><button class="btn btn-info btn-lg" style="width:100%" onmousedown="setthruster('backward');" onmouseup="releasethruster('backward');" onmouseout="releasethruster('backward');">Go Backward</button></div>
<div class="col-xs-4"></div>
</div>
<br />
<hr />
<h4>Impulse Engines</h4>
<button class="btn btn-default btn-lg" style="width:100%; box-shadow: 0 0 30px #CCCCCC;" onclick="setimpulse('0');sound('button.wav');" id="impulse0button">Full Stop</button>
<button class="btn btn-info btn-lg" style="width:100%" onclick="setimpulse('0.5');sound('button.wav');" id="impulsehalfbutton">Half Impulse</button>
<button class="btn btn-success btn-lg" style="width:100%" onclick="setimpulse('1');sound('button.wav');" id="impulsefullbutton">Full Impulse</button>
</div>
</div>
</div>
</div>
<div class="container" id="radarpage" style="display:none">
<div class="container">
<h4>Course - X:<span id="cx"></span> Y:<span id="cy"></span> Z:<span id="cz"></span></h4>
<label for="x">X:</label>
<div id="xerror">
<input type="text" name="x" id="x" class="form-control" />
</div>
<label for="y">Y:</label>
<div id="yerror">
<input type="text" name="y" id="y" class="form-control" />
</div>
<label for="z">Z:</label>
<div id="zerror">
<input type="text" name="z" id="z" class="form-control" />
</div>
<br />
<button class="btn btn-success" onclick="setcourse();sound('processing.mp3');">Set Course</button><br />
<hr />
<h4>Estimated Time of Arrival</h4>
<div id="eta"></div>
<h4>Maps</h4>
<div class="input-group">
<input type="text" class="form-control" id="mapsearch">
<span class="input-group-btn">
<button class="btn btn-default" type="button" onclick="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</span>
</div>
<br />
<div class="row">
<div class="col-xs-4">
<div class="panel panel-primary nopadding">
<div class="panel-heading"><h3 class="panel-title">Search Results</h3></div>
<div class="list-group scrollbar maxheight" id="results">
</div>
</div>
</div>
<div class="col-xs-8">
<div class="panel panel-primary nopadding">
<div class="panel-heading"><h3 class="panel-title">Place Info</h3></div>
<div class="panel-body maxheight" id="placeinfo">
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container" id="settingspage" style="display:none">
<div class="container">
<h4>Nearby Ships</h4>
<div id="radarlist">
</div>
</div>
</div>
</body>
</html>
